{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc",
        "useTabs": true,
        "tabWidth": 4,
        "printWidth": 120 }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html",
        "useTabs": true,
        "tabWidth": 4,
        "printWidth": 120 }
    }
    


  ]
}
