.whiteBackground {
    background-color: #ffecd1;
    border-style: none;
  }
  
  .boxCheckbox {
    padding: 16px;
    background-color: #ffecd1;
    color: #0a0908;
    border: 2px solid #4a5759;
  }
  
  .title {
    background-color: #05668d;
    color: white;
    border: 2px solid #4a5759;
    font-size: 16px;
    margin: 8px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
  }
  
  .btn {
    display: flex;
    justify-content: end; 
  }
  
  .layout {
    background-color: #ffecd1;
    display: flex;
    justify-content: center;
    align-items: center;
  }